<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./../vue.js"></script>
  <title>v-on e Eventos Globais</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="texto" @keyup="ativar" @keyup.enter="subiu"><br>
    <input type="text" v-model="texto" @keydown="ativar"><br>
    <input type="text" v-model="texto" @keyup.esc="ativar"><br><hr>
    <button @click.left="ativar">Mouse botão Esquerdo</button><br>
    <button @click.middle="ativar">Mouse botão Meio</button><br>
    <button @click.right="ativar">Mouse botão Direito</button><br>
    <button @click.alt="ativar">Mouse + Alt</button><br>
    <h1>{{texto}}</h1>
    <h2>{{keyUpEnter}}</h2>
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        texto: '',
        keyUpEnter: ''
      },
      methods: {
        ativar() {
          console.log('ativou ')
        },
        subiu() {
          this.keyUpEnter = 'Key Up Enter'
        }
      }
    })
  </script>
  <style>
    
  </style>
</body>
</html>